<div class="container" *ngFor="let node of data;let i = index">
    <div class="wrapper">
        <mat-checkbox [(ngModel)]="node.check" class="start"></mat-checkbox>
        <h3 class="title no-select" (click)="node.expand = !node.expand">
            <div class="item-wrapper">
                <div class="text no-select">{{node.item}}</div>
                <mat-icon (click)="remove(i)">cancel</mat-icon>
            </div>
            <mat-icon class="mat-icon-rtl-mirror end no-select">
                {{node.expand ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
        </h3>
    </div>

    <div class="expand-child no-select" *ngIf="node.expand">

        <div class="child-title-wrapper no-select" (click)="node.detected.expand = !node.detected.expand">
            <mat-icon class="mat-icon-rtl-mirror end no-select">
                {{node.detected.expand ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <h3 class="no-select">detected <span class="count">({{node.detected.length}})</span></h3>
        </div>

        <div class="child no-select" *ngIf="node.detected.expand">
            <dfx-list-item *ngFor="let item of node.detected;let a = index" [node]="item" (removeItem)="removeItem(node.detected, a)"></dfx-list-item>

            <div class="new-item">
                <div class="inline" (click)="node.detected.new = true" *ngIf="!node.detected.new">
                    <mat-icon>add</mat-icon>
                    <span class="new">add new detected item</span>
                </div>

                <form class="example-form" (submit)="submitDetected(i, node)" *ngIf="node.detected.new">
                    <mat-form-field class="example-full-width">
                        <input #detectedInput matInput placeholder="detected name" [formControl]="detectedForm" (blur)="submitDetected(i, node)" autofocus>
                    </mat-form-field>
                </form>
            </div>

        </div>

        <div class="child-title-wrapper" (click)="node.affected.expand = !node.affected.expand">
            <mat-icon class="mat-icon-rtl-mirror end">
                {{node.affected.expand ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <h3>affected <span class="count">({{node.affected.length}})</span></h3>
        </div>


        <div class="child" *ngIf="node.affected.expand">
            <dfx-list-item *ngFor="let item of node.affected;let a = index" [node]="item" (removeItem)="removeItem(node.affected, a)"></dfx-list-item>
            <div class="new-item">
                <div class="inline" (click)="node.affected.new = true" *ngIf="!node.affected.new">
                    <mat-icon>add</mat-icon>
                    <span class="new">add new affected item</span>
                </div>

                <form class="example-form" (submit)="submitAffected(i, node)" *ngIf="node.affected.new">
                    <mat-form-field class="example-full-width">
                        <input #affectedInput matInput placeholder="affected name" [formControl]="affectedForm">
                    </mat-form-field>
                </form>
            </div>
        </div>

        <div class="child-title-wrapper" (click)="node.impact.expand = !node.impact.expand">
            <mat-icon class="mat-icon-rtl-mirror end">
                {{node.impact.expand ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <h3>impact <span class="count">({{node.impact.length}})</span></h3>
        </div>


        <div class="child" *ngIf="node.impact.expand">
            <dfx-list-item *ngFor="let item of node.impact;let a = index" [node]="item" (removeItem)="removeItem(node.impact, a)"></dfx-list-item>

            <div class="new-item">
              <form class="example-form" (submit)="submitImpact(i, node)" *ngIf="node.impact.new">
                  <mat-form-field class="example-full-width">
                      <input #impactInput matInput placeholder="impact name" [formControl]="impactForm">
                  </mat-form-field>
              </form>

              <div class="inline" (click)="node.impact.new = true" *ngIf="!node.impact.new">
                  <mat-icon>add</mat-icon>
                  <span class="new">add new impact item</span>
              </div>
              
            </div>

        </div>
        <div class="child-title-wrapper" (click)="node.recommendation.expand = !node.recommendation.expand">
            <mat-icon class="mat-icon-rtl-mirror end">
                {{node.recommendation.expand ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
            <h3>recommendation <span class="count">({{node.recommendation.length}})</span></h3>
        </div>

        <div class="child" *ngIf="node.recommendation.expand">
            <dfx-list-item [node]="item"
            *ngFor="let item of node.recommendation;let a = index"
            (removeItem)="removeItem(node.recommendation, a)"></dfx-list-item>

            <div class="new-item">

              <form class="example-form" 
              (submit)="submitRecommendation(i, node)" 
              *ngIf="node.recommendation.new">

                <mat-form-field class="example-full-width">
                  <input matInput placeholder="recommendation name" 
                  [formControl]="recommendationForm">
                </mat-form-field>

              </form>

              <div class="inline" (click)="node.recommendation.new = true" 
                *ngIf="!node.recommendation.new">

                    <mat-icon>add</mat-icon>
                    <span class="new">add new recommendation item</span>

              </div>

            </div>
        </div>

    </div>
</div>

<div class="inline no-select" (click)="newItem = true" *ngIf="!newItem">
    <mat-icon>add</mat-icon>
    <span class="new">add new item</span>
</div>

<form class="example-form no-select" *ngIf="newItem" (submit)="submit()">
    <mat-form-field class="example-full-width">
        <input matInput placeholder="item name" [formControl]="itemForm">
    </mat-form-field>
</form>