{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Files
{% endblock %}
{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='file.css')}}">
{% endblock %}
{% block content %}
<body>
  

    <div class="container">
        <h1 style="color: white;">Welcome, {{ name }} </h1> <a id="logout" href="/logout" class="btn btn-primary">LOGOUT</a>
        <br>
        <div id='hideMe'>
          {% for m in get_flashed_messages() %}
              <h4 style="color: white;">{{ m }} </h4>
            {% endfor %}
          
          
        </div>
        <br>
        <br>
        <form  action="/upload" method="POST" enctype="multipart/form-data"> 
          <input type="file" class="btn btn-primary" name="file">
          <br>
          <input type="submit" class="btn btn-primary" value="Upload">
      </form>
      <br>
      <br>
        <br>
        <br>
        
        <br>
        {% for file in files %}
        <h4>
            {% if file.user_id == user.id %}
            <div class="files">  
            {{ file.name }}         <a href="/delete/{{ file.id }}" id="delete" class="btn btn-primary">Delete<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
              <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
            </svg></a> 
                                        <a href="/{{ file.id }}" id="view" class="btn btn-primary">View<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-eyeglasses" viewBox="0 0 16 16">
                                          <path d="M4 6a2 2 0 1 1 0 4 2 2 0 0 1 0-4zm2.625.547a3 3 0 0 0-5.584.953H.5a.5.5 0 0 0 0 1h.541A3 3 0 0 0 7 8a1 1 0 0 1 2 0 3 3 0 0 0 5.959.5h.541a.5.5 0 0 0 0-1h-.541a3 3 0 0 0-5.584-.953A1.993 1.993 0 0 0 8 6c-.532 0-1.016.208-1.375.547zM14 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
                                        </svg></a> 
                                       
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal{{ file.id }}">
                                            Rename <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                                            </svg>
                                          </button>
                                          
                                          <!-- Modal -->
                                          <div class="modal fade" id="exampleModal{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog" role="document">
                                              <div class="modal-content">
                                                <div class="modal-header">
                                                  <h5 class="modal-title" id="exampleModalLabel">File details</h5>
                                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                  </button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/update/{{ file.id }}" method="POST">
                                                        <div class="form-group">
                                                            <label for="recipient-name" class="col-form-label">File Name:</label>
                                                            <input type="text" name="fname" class="form-control" id="recipient-name" value="{{ file.name }}">
                                                            <br>
                                                            <input type="submit" class="btn btn-secondary" value="Rename">
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                        </div>
                                                        </form>
                                                </div>
                                                <div class="modal-footer">
                                                  
                                                </div>
                                              </div>
                                            </div>
                                          </div>

                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2{{ file.id }}" data-whatever="@mdop">
                                          Share <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-share-fill" viewBox="0 0 16 16">
                                            <path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
                                          </svg></button>
                                        <div class="modal fade" id="exampleModal2{{ file.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Recipient Details</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="/share/{{ file.id }}" method="POST">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Recipient:</label>
                                                    <input type="text" name="name" class="form-control" id="recipient-name">
                                                    <br>
                                                    <input type="submit" class="btn btn-secondary" value="Share">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                </div>
                                                </form>
                                            </div>
                                            </div>
                                        </div>
                                        </div>
            
            
        
            
        {% endif %}
        </h4>

        {% endfor %}
      </div> 
    </div>
    <br>
  </body>
    {% endblock %}